.app {
  position: relative;
  display: flex;
  min-height: 100%;
  height: 96vh;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 8%;
    background: lightblue;
  }

  .content {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-basis: 92%;
    align-self: center;
    justify-content: center;

    .home {
      .title {
        font-weight: bold;
      }
    }

    .login,
    .register {
      background: inherit;
      width: 20rem;
      padding: 1rem;
      margin: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      div {
        margin: 0.5rem;
      }
    }

    //  .main {
    //    height: 85%;
    //    width: 100%;
    //    display: grid;
    //    grid-template-columns: repeat(3, 1fr);
    //    grid-template-rows: repeat(2, 1fr);
    //    grid-gap: 2rem;

    //    .item {
    //      display: flex;
    //      justify-content: center;
    //      align-items: center;
    //    }
    //    @media (max-width: 450px) {
    //      display: flex;
    //      flex-direction: column;
    //      justify-content: space-between;
    //      .item {
    //        height: 8rem;
    //      }
    //    }
    //  }
  }
}

.neumorphic-inset {
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.2),
    inset -5px -5px 5px rgba(255, 255, 255, 0.2),
    inset 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.neumorphic {
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.2);
}

.input {
  border: 1px solid black;
  border-radius: 1.5rem;
  width: 100%;
  background: inherit;
  padding: 1rem 1.3rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  &:focus {
    outline: none;
  }
}

.loader-container {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba($color: #fff, $alpha: 0.3);
  z-index: 1000;
  .loader {
    position: absolute;
    top: 50px;
    left: 50px;
    height: 36px;
    width: 36px;
  }
}
